body {
  background-color: #191e29;
  color: #ffffff;
  padding: 0.8rem;
}

h1 {
  text-align: center;
}
P {
  text-align: center;
  color: #01c380;
}

.game-area {
  width: 55%;
  padding: 1rem;
  margin: 2rem auto;
  border: 3px #01c380 solid;
}
h2 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
}
h3 {
  text-align: center;
  font-size: 1.2rem;
}

.move-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

button {
  background-color: transparent;
  border: 3px solid #01c380;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #132d46;
  transform: scale(1.1);
}

img {
  width: 4rem;
  object-fit: cover;
  object-position: center;
}

.score {
  display: flex;
  justify-content: space-between;
  padding-inline: 70px;
  margin-top: 70px;
}

.score span {
  font-size: 1.5rem;
}
.reset-btn {
  margin-top: 1.5rem;
  background-color: #ffffff;
  margin-inline-start: 43%;
}
.reset-btn img {
  width: 30px;
}

@media (max-width: 820px) {
  body {
    .game-area {
      width: 60%;
    }
  }
  article {
    margin-top: 2.5rem;
  }
}
@media (max-width: 767px) {
  body {
    .game-area {
      width: 65%;
    }
  }
}

@media (max-width: 737px) {
  body {
    .game-area {
      width: 80%;
    }
  }
}
@media (max-width: 575px) {
  body {
    .game-area {
      width: 85%;
    }
    .score span {
      font-size: 1.2rem;
    }
    .score {
      display: flex;
      justify-content: space-between;
      padding-inline: 50px;
      margin-top: 50px;
    }
  }
}

@media (max-width: 375px) {
  body {
    .game-area {
      padding-inline: 1.2rem;
      border: none;
    }

    .score {
      display: flex;
      justify-content: space-between;
      padding-inline: 20px;
      margin-top: 20px;
    }
  }
}
